<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<style>
    .container{
        margin: auto;
        width: 50%;
        padding: 30px;
        background: #e2e2e2;

    }
</style>

</head>
<body>
   <div class="container">
    <h1 data-th-text="${name}">I am a home page controller</h1>
    <p> subject: <span data-th-text="${subject}"></span></p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores porro,
        unde quaerat blanditiis totam aspernatur assumenda id quos quo excepturi
        itaque possimus odio earum! Corporis facere laboriosam quas,
        minus sunt aperiam magni alias accusamus repellendus ducimus inventore.
        Recusandae sequi nulla maiores ratione natus error veritatis? Illum eligendi
        error quibusdam nostrum!
    </p>
   </div>
    
</body>
</html>