<!DOCTYPE html>
<html lang="en" data-th-replace="~{base :: parent(~{:: #content},~{:: title}, ~{})}">
<head>
    <title>Serviecs</title>
</head>
<body>
    <section id="content">
            <div>
                <h1>welcome to service page</h1>
                <h>Service offered by Smart contact manager</h>
                <hr/>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, suscipit.</p>
            </div>
    </section>

    <!-- <script>
        console.log("service pages");
    </script> -->
</body>
</html>